/*RESETS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/*HEADER*/
.header {
  display: flex;
  flex-direction: column;
  height: 61rem;
  align-items: center;
  background: url("../images/banner.png") no-repeat center center/cover;
}
.header .header-content {
  text-align: center;
}
.header h1 {
  font-size: 3.5rem;
  margin-top: 2rem;
  color: #546130;
  text-transform: uppercase;
}
.header p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3b09;
}

/*GALLERY*/
.gallery {
  background: #454545;
  height: auto;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.gallery-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 25rem;
  margin: 5rem 0 5rem;
}
.gallery-card img {
  border: 0.7rem solid #6f6f6f;
}
.gallery h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.gallery p {
  margin-top: 1.3rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

/*ABOUT*/
.about {
  background: #6f6f6f;
  height: auto;
  display: flex;
  align-items: center;
}
.about-img img {
  border: 1.0rem solid #313131;
  border-radius: 100%;  
  margin: 4rem 4rem;
}
.about-text h2{
  font-size: 3rem;
  font-weight: 700;  
  margin-top: 2rem;
  text-transform: uppercase;
  color: #fff;
}
.about-text p {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #fff;
}
.about-text p:nth-child(3) {
  font-weight: bold;
}
.about-text p:nth-child(4) {
  font-style: italic;
}

footer {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
}
footer h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
